tmp
recycle
.DS_Store

Test/DJMemo/*.*
!Test/DJMemo/*.lyx
!Test/DJMemo/*.tex
Test/DJMinted/*.*
!Test/DJMinted/*.lyx
!Test/DJMinted/*.tex
Test/DJPgfplotsPreamble/*.*
!Test/DJPgfplotsPreamble/*.lyx
!Test/DJPgfplotsPreamble/*.tex
Test/tkz-bode/*.*
!Test/tkz-bode/*.lyx
!Test/tkz-bode/*.tex
Test/tkz-bode/gnuplot
Test/DJThesis/*.*
!Test/DJThesis/*.tex
!Test/DJThesis/*.sh
Test/DJThesis/Figs/pdf/*.*
Source/schema-bloc/*.pdf

.tex
